<!DOCTYPE html>
<html lang="ru">
<body>
<form method="post" action="/register">
    // Теперь валидным логином считается логин длинной от 4 до 12 символов, обязательно содержит хотябы один
    // из знаков "!%#@"
    // Пароль должен быть от 2 до 10 символов. Должен содержать специальный символ, такой же как у логина.
    // Саму форму разместите по центру экрана, поля ввода друг под другом(подпишите их жирными надписями). Кнопку сделайте красной и овальной.
    <input name="login"/>
    <input name="password"/>
    <button>отправить</button> // кнопка не работает
</form>
</body>
</html>